<div style="padding: 20px; background: #fafafa;font-size:15px;">
    Hi!<br>
    We are sorry for your unsubscribing to {{ project_name }} newsletter.<br>
    <br>
    To confirm your unsubscription, please click on the link given below. If clicking doesn't work, copy paste the URL in browser.<br>
    If you think this is a mistake, just ignore this email and I won't bother you again.
    <br>
    <br>
    <a href="{{ unsubscribe_confirmation_url }}">{{ unsubscribe_confirmation_url }}</a>

    <br>
    <br>
        Best<br>
        Artur from Scientific Dev
    <p>
        Note:<br>
        This is a notification only email. Please do not reply to this message.<br>
        You can <a href="{{ contact_us_url }}">contact me here</a>.
    </p>
</div>