{% load static %}
{% load sri %}
<!DOCTYPE html>
<!-- Change the value of lang="en" attribute if your website's language is not English.
You can find the code of your language here - https://www.w3schools.com/tags/ref_language_codes.asp -->
<html lang="en">
    <head>
        <!-- Global site tag (gtag.js) - Google Analytics -->
        <script nonce="{{ CSP_NONCE }}" async src="https://www.googletagmanager.com/gtag/js?id=UA-32924821-6" type="application/javascript"></script>
        <script nonce="{{ CSP_NONCE }}" type="application/javascript">
          window.dataLayer = window.dataLayer || [];
          function gtag(){dataLayer.push(arguments);}
          gtag('js', new Date());

          gtag('config', 'UA-32924821-6');
        </script>

        <title>Scientific Dev</title>
        <meta name="description" content="">
        <meta charset="utf-8">
        <meta name="author" content="https://themeforest.net/user/bestlooker/portfolio">
        <!--[if IE]><meta http-equiv='X-UA-Compatible' content='IE=edge,chrome=1'><![endif]-->
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />

        <!-- Favicons -->
        <link rel="shortcut icon" href="{%  static 'images/favicon.png' %}">

        <!-- CSS -->
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" integrity="sha256-YvdLHPgkqJ8DVUxjjnGVlMMJtNimJ6dYkowFFvp4kKs=" crossorigin="anonymous">
        {%  sri_static 'css/style.css' %}
        <link rel="stylesheet" href="{%  static 'css/style-responsive.css' %}" integrity="sha256-j8wTUnlCNxAbuLkczGQ1DeL8CzIEKmme348Wo7e/XcY=" crossorigin="anonymous">
        <link rel="stylesheet" href="{%  static 'css/vertical-rhythm.min.css' %}" integrity="sha256-2jHb+M9UQvQGGDVZJZpKr9W2yT+tgqjdnOG0JzY/58U=" crossorigin="anonymous">
        <link rel="stylesheet" href="{%  static 'css/magnific-popup.css' %}" integrity="sha256-qFGF8tAeBZtzkBJWT28otMQXaBZFCWXfJidCgiBnHwA=" crossorigin="anonymous">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/owl-carousel/1.3.3/owl.carousel.css" integrity="sha256-Tcd+6Q3CIltXsx0o/gYhPNbEkb3HJJpucOvQA7csVwI=" crossorigin="anonymous">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/4.1.1/animate.min.css" integrity="sha256-X7rrn44l1+AUO65h1LGALBbOc5C5bOstSYsNlv9MhT8=" crossorigin="anonymous">
        <link rel="stylesheet" href="{%  static 'css/splitting.css' %}" integrity="sha256-Nfm8ZYez7Ah0wgHJOSNFTZnRBIivjfWaC+zT1Z05pso=" crossorigin="anonymous">

        {% block additional_css %}
        {% endblock additional_css %}
        
    </head>
    <body class="appear-animate">
        
        <!-- Page Loader -->        
        <div class="page-loader">
            <div class="loader">Loading...</div>
        </div>
        <!-- End Page Loader -->

        <!-- Skip to Content -->
        <a href="#main" class="btn skip-to-content">Skip to Content</a>
        <!-- End Skip to Content -->
        
        <!-- Page Wrap -->
        <div class="page" id="top">
            
            <!-- Navigation panel -->
            <nav class="main-nav dark stick-fixed transparent wow-menubar">
                <div class="full-wrapper relative clearfix">
                    
                    <!-- Logo ( * your text or image into link tag *) -->
                    <div class="nav-logo-wrap local-scroll">
                        <b><a href="{% url 'ambro:index' %}" class="logo">Ambro-Met
                        </a></b>
                    </div>
                    
                    <!-- Mobile Menu Button -->
                    <div class="mobile-nav" role="button" tabindex="0">
                        <i class="fa fa-bars"></i>
                        <span class="sr-only">Menu</span>
                    </div>
                    

                    <!-- Main Menu -->
                    <div class="inner-nav desktop-nav">
                        <ul class="clearlist">
                            <li class="d-sm-none d-md-none d-lg-block">
                                <a href="{% url 'ambro:contact' %}"><i class="fas fa-envelope"></i>   Kontakt</a>
                            </li>

                            <li class="d-sm-none d-md-none d-lg-block">
                                <a href="{% url 'ambro:about' %}"><i class="fas fa-globe"></i>   O nas</a>
                            </li>

                            <!-- Divider -->
                            <li><a>&nbsp;</a></li>
                            <!-- End Divider -->
                        </ul>
                    </div>                    <!-- End Main Menu -->
                    
                </div>
            </nav>
            <!-- End Navigation panel -->
            
            {% block content %}

            {%  endblock content %}
            
            <!-- Footer -->
            <footer class="page-section bg-gray-lighter footer pb-100 pb-sm-50">
                <div class="container">
                    
                    <!-- Social Links -->
                    <div class="footer-social-links mb-90 mb-xs-40">
                        <a href="#" title="Facebook" target="_blank"><i class="fab fa-facebook-f"></i> <span class="sr-only">Facebook profile</span></a>
                        <a href="#" title="Twitter" target="_blank"><i class="fab fa-twitter"></i> <span class="sr-only">Twitter profile</span></a>
                        <a href="#" title="Twitter" target="_blank"><i class="fab fa-vimeo-v"></i> <span class="sr-only">Vimeo profile</span></a>
                        <a href="#" title="Behance" target="_blank"><i class="fab fa-behance"></i> <span class="sr-only">Behance profile</span></a>
                        <a href="#" title="Pinterest" target="_blank"><i class="fab fa-pinterest"></i> <span class="sr-only">Pinterest profile</span></a>
                    </div>
                    <!-- End Social Links -->
                    
                    <!-- Footer Text -->
                    <div class="footer-text">
                        
                        <!-- Copyright -->
                        <div class="footer-copy">
                            <a href="{% url 'ambro:index' %}">© Ambro-Met 2023</a>.
                        </div>
                        <!-- End Copyright -->
                        
                        <div class="footer-made">
                            Made with love for great people.
                        </div>
                        
                    </div>
                    <!-- End Footer Text --> 
                    
                 </div>
                 
                 <!-- Top Link -->
                 <div class="local-scroll">
                     <a href="#top" class="link-to-top"><i class="link-to-top-icon"></i><span class="sr-only">Scroll to top</span></a>
                 </div>
                 <!-- End Top Link -->
                 
            </footer>
            <!-- End Footer -->
        
        </div>
        <!-- End Page Wrap -->
        
        
       <!-- JS -->
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.7.0/jquery.min.js" integrity="sha256-2Pmvv0kuTBOenSvLm6bvfBSSHrUJ+3A7x6P5Ebd07/g=" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.3/jquery.easing.js" integrity="sha256-B1f3/25falgZIqXi1CxeDPdHXYgIhamALovdXkGI3TQ=" crossorigin="anonymous"></script><!--not newest-->
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha256-9SEPo+fwJFpMUet/KACSwO+Z/dKMReF9q4zFhU/fT9M=" crossorigin="anonymous"></script>
        <script src="{%  static 'js/SmoothScroll.js' %}" integrity="sha256-kgv5WXwk5Mw2lUKPoo+wxAKJpWv2Q8gBw5goNSQJWlk=" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-scrollTo/2.1.2/jquery.scrollTo.min.js" integrity="sha256-7QS1cHsH75h3IFgrFKsdhmKHHpWqF82sb/9vNLqcqs0=" crossorigin="anonymous"></script><!-- not newest -->
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-localScroll/2.0.0/jquery.localScroll.min.js" integrity="sha256-zoyjWR3p+8NNjyzhgNJyDn46HhrXVYVT4qRHR8E69jU=" crossorigin="anonymous"></script>
        <script src="{%  static 'js/jquery.viewport.mini.js' %}" integrity="sha256-hsD7vGcJ3JjLNEfgDzJXQ7LwBlIWVKcfTTjFJHsf+MQ=" crossorigin="anonymous"></script>
        <script src="{%  static 'js/jquery.countTo.js' %}" integrity="sha256-QjhER+RuQGPpRlPYpY2qD43eGPc8VXpOhgnvSE5KQvo=" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-appear/0.1/jquery.appear.js" integrity="sha256-RvsiNbz4QIapuTmuUJ7KzAG7McaLqU5kc+Mdit6+w+s=" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-parallax/1.1.3/jquery-parallax.js" integrity="sha256-L1AxKTGKztrCFaxYi8GD8w+k/k/aNzFoFjQxN3bw9O8=" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/fitvids/1.1.0/jquery.fitvids.js" integrity="sha256-Q3BzspeBJqvwHbfNgY2DNZd4jT//AR2+IJJxk2S0NU0=" crossorigin="anonymous"></script><!-- not newest -->
        <script src="https://cdnjs.cloudflare.com/ajax/libs/owl-carousel/1.3.3/owl.carousel.min.js" integrity="sha256-4OK8Th0+5QJMThqlimytmqQvxjqMic4YATocjyuUh1w=" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.isotope/3.0.6/isotope.pkgd.min.js" integrity="sha256-CBrpuqrMhXwcLLUd5tvQ4euBHCdh7wGlDfNz8vbu/iI=" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.imagesloaded/3.1.8/imagesloaded.pkgd.min.js" integrity="sha256-N9v0tgEtTiPLwculC6o1csk6XDcbmHP7VEDLhN+/mQI=" crossorigin="anonymous"></script><!--not newest-->
        <script src="{%  static 'js/jquery.magnific-popup.min.js' %}" integrity="sha256-xK44eR7lTUEaqJEmMcJoUpArM2F/Yu3ZoXdvF278F3c=" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/masonry/4.2.2/masonry.pkgd.min.js" integrity="sha256-Nn1q/fx0H7SNLZMQ5Hw5JLaTRZp0yILA/FRexe19VdI=" crossorigin="anonymous"></script>
        <script src="{%  static 'js/jquery.lazyload.min.js' %}" integrity="sha256-XXjKRHGX10xgyRE2TzQTOOO6P8qIJzYyRTB7guX77sE=" crossorigin="anonymous"></script>
        <script src="{%  static 'js/wow.min.js' %}" integrity="sha256-uW/SIVpH7nb6V6g54hvMGW28+XhKKGR0M4ZkVuLDhfs=" crossorigin="anonymous"></script>
        <script src="{%  static 'js/morphext.js' %}" integrity="sha256-lPoQJFpvLdEHPWoA5Wj7n7pSnxJmfweBYZU/VqoOOps=" crossorigin="anonymous"></script>
        <script src="{%  static 'js/typed.min.js' %}" integrity="sha256-5iHmzmLZXeKVlq8YJDJjW+cun82lx3/SOLdcd5+FOj8=" crossorigin="anonymous"></script>
        <script src="{%  static 'js/all.js' %}" integrity="sha256-WKg3ZNKPNrTbooym0eQto9xii/feLTwr2MUL2wuUDmM=" crossorigin="anonymous"></script>
        <script src="{%  static 'js/contact-form.js' %}" integrity="sha256-40SD/ir58flo+4iegFKNFXSbXfVdpHc9CiJR+DgTEqQ=" crossorigin="anonymous"></script>
        <script src="{%  static 'js/objectFitPolyfill.min.js' %}" integrity="sha256-kcL1Abevb+DAhAP0doPTBNTp9fsaNnpqjFcZP1g2x9M=" crossorigin="anonymous"></script>
        <script src="{%  static 'js/splitting.min.js' %}" integrity="sha256-j3/SAlPwpBNWCGrQF5g5ffDvAqX/ToJW7enqE/KGsz8=" crossorigin="anonymous"></script>

        {% block additional_js %}
        {% endblock additional_js %}
        
    </body>
</html>
