{%  extends 'base.html' %}
{%  load static %}

{% block additional_css %}
    <!-- EnlighterJS Resources !-->
    <link rel="stylesheet" href="{%  static 'css/enlighterjs.min.css' %}" />
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@100&display=swap" rel="stylesheet">
{% endblock additional_css %}

{%  block content %}



    <main id="main">
            
                <!-- Home Section -->
                <section class="small-section bg-dark-alfa-50 bg-scroll light-content" data-background="{%  static 'images/full-width-images/section-bg-19.jpg' %}" id="home">
                    <div class="container relative pt-70">
                    
                        <div class="row">
                            
                            <div class="col-md-8">
                                <div class="wow fadeInUpShort" data-wow-delay=".1s">
                                    <h1 class="hs-line-7 mb-40 mb-xs-20">{{  post.title }}</h1>
                                </div>
                                <div class="wow fadeInUpShort" data-wow-delay=".2s">
                                    <div class="mb-20 mb-xs-0">
                                        <!-- Author, Categories, Comments -->
                                        <div class="blog-item-data">
                                            <a href="#"><i class="fa fa-clock"></i> {{ post.created|date:'Y-N-d' }}</a>
                                            <span class="separator">&nbsp;</span>
                                            <a href="#"><i class="fa fa-user"></i> {{ post.author }}</a>
                                            <span class="separator">&nbsp;</span>
                                            <i class="fa fa-folder-open"></i>
                                            {% for tag in post.tags.all %}
                                                <a href="{% url 'blog:post_list_by_tag' tag.slug %}">
                                                    <u>{{ tag.name }}</u>
                                                </a>
                                                {% if not forloop.last %}, {% endif %}
                                            {% endfor %}
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    
                    </div>
                </section>
                <!-- End Home Section -->
                
                
                <!-- Section -->
                <section class="page-section bg-dark light-content">
                    <div class="container relative">
                        
                        <div class="row">
                            
                            <!-- Content -->
                            <div class="col-lg-8 offset-lg-2 mb-sm-80">
                                
                                <!-- Post -->
                                <div class="blog-item mb-80 mb-xs-40">
                                    
                                    <!-- Text -->
        							<div class="blog-item-body" style="font-family: 'Montserrat', sans-serif;">
        							    <div class="mt-0 pt-0">
                                            <h5 style="line-height: 1.5; font-weight: 100">
                                                {{ post.body|safe }}
                                            </h5>
                                        </div>
                                        <!-- End Text -->   
        							</div>
                                    <!-- End Text -->
        							
        						</div>
        						<!-- End Post -->

                            </div>
                            <!-- End Content -->                            
                        
                        </div>
                        
                    </div>
                </section>
                <!-- End Section -->                
                
            </main>
            
{%  endblock content %}

 {% block additional_js %}
    <script type="text/javascript" src="{%  static 'js/enlighterjs.min.js' %}"></script>
    <script type="text/javascript">
        // INIT CODE - simple page-wide initialization based on css selectors
        // - highlight all pre + code tags (CSS3 selectors)
        // - use javascript as default language
        // - use theme "enlighter" as default theme
        // - replace tabs with 2 spaces
        EnlighterJS.init('pre', 'code', {
                language : 'python',
                theme: 'dracula',
                indent : 4,
        });
        let snippets = document.getElementsByClassName('enlighter');
        for (let s=0; s<snippets.length; s++) {
            snippets[s].style.fontSize = '130%';
        }
    </script>
 {% endblock additional_js %}