{%  extends 'base.html' %}
{%  load static %}

{%  block content %}
            
    <main id="main">
            
                <!-- Home Section -->
                <section class="small-section bg-dark-alfa-50 bg-scroll light-content" data-background="images/full-width-images/section-bg-19.jpg" id="home">
                    <div class="container relative pt-70">
                    
                        <div class="row">
                            
                            <div class="col-md-8">
                                <div class="wow fadeInUpShort" data-wow-delay=".1s">
                                    <h1 class="hs-line-7 mb-40 mb-xs-20">The Most Popular Web Design Trends in 2021 Year</h1>
                                </div>
                                <div class="wow fadeInUpShort" data-wow-delay=".2s">
                                    <div class="mb-20 mb-xs-0">
                                        <!-- Author, Categories, Comments -->
                                        <div class="blog-item-data">
                                            <a href="#"><i class="fa fa-clock"></i> 5 December</a>
                                            <span class="separator">&nbsp;</span>
                                            <a href="#"><i class="fa fa-user"></i> John Doe</a>
                                            <span class="separator">&nbsp;</span>
                                            <i class="fa fa-folder-open"></i>
                                            <a href="">Design</a>, <a href="#">Branding</a>
                                            <span class="separator">&nbsp;</span>
                                            <a href="#"><i class="fa fa-comments"></i> 5 Comments</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            
                            <div class="col-md-4 mt-30 wow fadeInUpShort" data-wow-delay=".1s">
                                <div class="mod-breadcrumbs text-end">
                                    <a href="#">Home</a>&nbsp;<span class="mod-breadcrumbs-slash">•</span>&nbsp;<a href="#">Blog</a>&nbsp;<span class="mod-breadcrumbs-slash">•</span>&nbsp;<span>Single</span>
                                </div>                                
                            </div>
                            
                        </div>
                    
                    </div>
                </section>
                <!-- End Home Section -->
                
                
                <!-- Section -->
                <section class="page-section bg-dark light-content">
                    <div class="container relative">
                        
                        <div class="row">
                            
                            <!-- Content -->
                            <div class="col-lg-8 offset-lg-2 mb-sm-80">
                                
                                <!-- Post -->
                                <div class="blog-item mb-80 mb-xs-40">
                                    
                                    <!-- Text -->
        							<div class="blog-item-body">
                                    
        							    <div class="lead mt-0">
                                            <p>
                                                Morbi lacus massa, euismod ut turpis molestie, tristique sodales est. Integer sit amet mi id sapien tempor molestie in nec massa.
                                                Fusce non ante sed lorem rutrum feugiat.
                                            </p>
                                        </div>
                                        <!-- End Text -->   
                                        
                                        <!-- Media Gallery -->
                                        <div class="blog-media mt-40 mb-40 mb-xs-30">
                                            <ul class="clearlist content-slider dark-content">
                                                <li>
                                                    <img src="images/portfolio/full-project-1.jpg" alt="" />
                                                </li>
                                                <li>
                                                    <img src="images/portfolio/full-project-2.jpg" alt="" />
                                                </li>
                                                <li>
                                                    <img src="images/portfolio/full-project-3.jpg" alt="" />
                                                </li>
                                            </ul>
                                        </div>
        								
                                        <p>
                                            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris non laoreet dui. Morbi lacus massa, euismod ut turpis molestie, tristique sodales est. Integer sit amet mi id sapien tempor molestie in nec massa.
                                        </p>
        								
        								<p>
                                            Fusce non ante sed lorem rutrum feugiat. Vestibulum pellentesque, purus ut&nbsp;dignissim consectetur, nulla erat ultrices purus, ut&nbsp;consequat sem elit non sem.
                                            Morbi lacus massa, euismod ut turpis molestie, tristique sodales est. Integer sit amet mi id sapien tempor molestie in nec massa.
                                            Fusce non ante sed lorem rutrum feugiat.
                                        </p>
        								
        								<blockquote>
                                            <p>
                                                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer posuere erat a&nbsp;ante. Vestibulum pellentesque, purus ut dignissim consectetur, nulla erat ultrices purus.
                                            </p>
                                            <footer>
                                                Someone famous in 
                                                <cite title="Source Title">
                                                    Source Title
                                                </cite>
                                            </footer>
                                        </blockquote>
        								
                                        <p>
                                            Praesent ultricies ut ipsum non laoreet. Nunc ac <a href="#">ultricies</a> leo. Nulla ac ultrices arcu. Nullam adipiscing lacus in consectetur posuere. Nunc malesuada tellus turpis, ac pretium orci molestie vel.
                                            Morbi lacus massa, euismod ut turpis molestie, tristique sodales est. Integer sit amet mi id sapien tempor molestie in nec massa.
                                            Fusce non ante sed lorem rutrum feugiat.
                                        </p>
                                        {{  post.body|safe }}
                                        
                                        <ul>
                                            <li>First item of the list</li>
                                            <li>Second item of the list</li>
                                            <li>Third item of the list</li>
                                        </ul>
                                        
                                        <p>
                                            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris non laoreet dui. Morbi lacus massa, euismod ut turpis molestie, tristique sodales est. Integer sit amet mi id sapien tempor molestie in nec massa.
                                            Fusce non ante sed lorem rutrum feugiat. Vestibulum pellentesque, purus ut&nbsp;dignissim consectetur, nulla erat ultrices purus, ut&nbsp;consequat sem elit non sem.
                                        </p>
                                        
                                        
        							</div>
                                    <!-- End Text -->
        							
        						</div>
        						<!-- End Post -->
    						
        						<!-- Comments -->
                                <div class="mb-80 mb-xs-40">
                                    
                                    <h4 class="blog-page-title">Comments <small class="number">(3)</small></h4>
        							
                                    <ul class="media-list comment-list clearlist">
                                    	
                                        <!-- Comment Item -->
                                        <li class="media comment-item">
                                        	
                                            <a class="float-start" href="#"><img class="media-object comment-avatar" src="images/user-avatar.png" alt="" width="50" height="50"></a>
                                            
        									<div class="media-body">
        										
                                                <div class="comment-item-data">
                                                    <div class="comment-author">
                                                        <a href="#">John Doe</a>
                                                    </div>
                                                    Feb 9 2021 at 10:23 <span class="separator">&mdash;</span>
                                                    <a href="#"><i class="fa fa-comment"></i>&nbsp;Reply</a>
                                                </div>
        										
                                                <p>
                                                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque at magna ut ante eleifend eleifend.
                                                </p>
        										
                                                <!-- Comment of second level -->
                                                <div class="media comment-item">
                                                    
        											<a class="float-start" href="#"><img class="media-object comment-avatar" src="images/user-avatar.png" alt=""></a>
                                                    
        											<div class="media-body">
        												
                                                        <div class="comment-item-data">
                                                            <div class="comment-author">
                                                                <a href="#">Sam Brin</a>
                                                            </div>
                                                            Feb 9 2021 at 10:27 <span class="separator">&mdash;</span>
                                                            <a href="#"><i class="fa fa-comment"></i>&nbsp;Reply</a>
                                                        </div>
                                                        
        												<p>
                                                            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque at magna ut ante eleifend eleifend.
                                                        </p>
        												
                                                    
        											</div>
        											
                                                </div>
                                                <!-- End Comment of second level -->
        										
                                            </div>
        									
                                        </li>
                                        <!-- End Comment Item -->
        								
        								<!-- Comment Item -->
                                        <li class="media comment-item">
                                            
        									<a class="float-start" href="#"><img class="media-object comment-avatar" src="images/user-avatar.png" alt=""></a>
                                            
        									<div class="media-body">
                                                
        										<div class="comment-item-data">
                                                    <div class="comment-author">
                                                        <a href="#">Emma Johnson</a>
                                                    </div>
                                                    Feb 9 2021 at 10:37 <span class="separator">&mdash;</span>
                                                    <a href="#"><i class="fa fa-comment"></i>&nbsp;Reply</a>
                                                </div>
                                                
        										<p>
                                                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque at magna ut ante eleifend eleifend.
                                                </p>
        										
                                            </div>
        									
                                        </li>
                                        <!-- End Comment Item -->
        								
        								<!-- Comment Item -->
                                        <li class="media comment-item">
                                            
        									<a class="float-start" href="#"><img class="media-object comment-avatar" src="images/user-avatar.png" alt=""></a>
                                            
        									<div class="media-body">
                                                
        										<div class="comment-item-data">
                                                    <div class="comment-author">
                                                        <a href="#">John Doe</a>
                                                    </div>
                                                    Feb 9 2021 at 10:3 <span class="separator">&mdash;</span>
                                                    <a href="#"><i class="fa fa-comment"></i>&nbsp;Reply</a>
                                                </div>
                                                
        										<p>
                                                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque at magna ut ante eleifend eleifend.
                                                </p>
        										
                                            </div>
        									
                                        </li>
                                        <!-- End Comment Item -->
        								
                                    </ul>
        							
                                </div>
        						<!-- End Comments -->
        						
        						
        						<!-- Add Comment -->
        						<div class="mb-80 mb-xs-40">
        							
                                    <h4 class="blog-page-title">Leave a comment</h4>
        							
        							<!-- Form -->
                                    <form method="post" action="#" id="form" class="form">
                                        
                                        <div class="row mb-30 mb-md-20">
                                            
                                            <div class="col-md-6 mb-md-20">
                                                <!-- Name -->
                                                <label for="name">Name *</label>
                                                <input type="text" name="name" id="name" class="input-md round form-control" placeholder="Enter your name" maxlength="100" required aria-required="true">
                                            </div>
                                            
                                            <div class="col-md-6">
                                                <!-- Email -->
                                                <label for="email">Email *</label>
                                                <input type="email" name="email" id="email" class="input-md round form-control" placeholder="Enter your email" maxlength="100" required aria-required="true">
                                            </div>
                                            
                                        </div>
                                        
                                        <div class="mb-30 mb-md-20">
                                            <!-- Website -->
                                            <label for="website">Website</label>
                                            <input type="text" name="website" id="website" class="input-md round form-control" placeholder="Enter your website" maxlength="100">
                                        </div>
                                        
                                        <!-- Comment -->
                                        <div class="mb-30 mb-md-20">
                                            <label for="comment">Comment</label>
                                            <textarea name="comment" id="comment" class="input-md round form-control" rows="6" placeholder="Enter your comment" maxlength="400"></textarea>
                                        </div>
                                        
                                        <!-- Send Button -->
                                        <button type="submit" class="btn btn-mod btn-w btn-medium btn-round">
                                            Send comment
                                        </button>
        								
                                    </form>
        							<!-- End Form -->
        								
        						</div>
        						<!-- End Add Comment -->
        						
                                <!-- Prev/Next Post -->
                                <div class="clearfix mt-40">
                                    <a href="#" class="blog-item-more left"><i class="fa fa-chevron-left"></i>&nbsp;Prev post</a>
                                    <a href="#" class="blog-item-more right">Next post&nbsp;<i class="fa fa-chevron-right"></i></a>
                                </div>
                                <!-- End Prev/Next Post -->
                                
                            </div>
                            <!-- End Content -->                            
                        
                        </div>
                        
                    </div>
                </section>
                <!-- End Section -->                
                
            </main>
            
{%  endblock content %}