{%  extends 'base.html' %}
{%  load static %}

{%  block content %}

    <main id="main">

                <!-- Home Section alfa-90 was the original value in line below-->
                <section class="home-section bg-dark-alfa-70 parallax-5" data-background="{%  static 'images/full-width-images/section-bg-13.jpg' %}" id="home">
                    <div class="container min-height-100vh d-flex align-items-center pt-100 pb-100">

                        <!-- Hero Content -->
                        <div class="home-content text-start">
                            <div class="row">
                                <div class="col-md-9 col-lg-7">
                                    <h1 class="hs-line-3 mb-30 mb-xs-20 wow fadeInUpShort" data-wow-delay=".1s">Hi, I'm Artur</h1>

                                    <h2 class="hs-line-5 mb-60 mb-xs-40 wow fadeInUpShort" data-wow-delay=".2s">
                                        I can help bring your ideas into
                                        <span class="sr-only">reality, the world, design</span>
                                        <span data-period="2800" data-type='[ "reality", "the world", "design"]' class="typewrite" aria-hidden="true"><span class="wrap"></span></span>
                                    </h2>

                                </div>
                            </div>
                        </div>
                        <!-- End Hero Content -->

                        <!-- Scroll Down -->
                        <div class="local-scroll scroll-down-wrap wow fadeInUpShort" data-wow-offset="0">
                            <a href="#services" class="scroll-down"><i class="scroll-down-icon"></i><span class="sr-only">Scroll to the next section</span></a>
                        </div>
                        <!-- End Scroll Down -->

                    </div>
                </section>
                <!-- End Home Section -->

                <!-- Divider -->
                <hr class="mt-0 mb-0 white" />
                <!-- End Divider -->


                <!-- Services Section -->
                <section class="page-section bg-dark light-content" id="services">
                    <div class="container relative">

                        <div class="text-center mb-80 mb-sm-50">
                            <h2 class="section-title">My Stack</h2>
                            <p class="section-title-descr">
                                Things I can help you with
                            </p>
                        </div>

                        <!-- Services Grid -->
                        <div class="row services-grid">

                            <!-- Services Item -->
                            <div class="col-sm-6 col-md-4 col-lg-4">
                                <div class="services-item text-center wow fadeIn" data-wow-delay="0" data-wow-duration="1.5s">
                                    <div class="services-icon">
                                        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="currentColor" aria-hidden="true" focusable="false">
                                            <path d="M24 10.935v2.131l-8 3.947v-2.23l5.64-2.783-5.64-2.79v-2.223l8 3.948zm-16 3.848l-5.64-2.783 5.64-2.79v-2.223l-8 3.948v2.131l8 3.947v-2.23zm7.047-10.783h-2.078l-4.011 16h2.073l4.016-16z"/>
                                        </svg>
                                    </div>
                                    <h3 class="services-title">Python Programming</h3>
                                    <div class="services-descr">
                                        Python is my favorite language.
                                        I use it for the web applications, image manipulation,
                                        numerical calculations and many other tasks.
                                    </div>
                                </div>
                            </div>
                            <!-- End Services Item -->

                            <!-- Services Item -->
                            <div class="col-sm-6 col-md-4 col-lg-4">
                                <div class="services-item text-center wow fadeIn" data-wow-delay=".1s" data-wow-duration="1.5s">
                                    <div class="services-icon">
                                        <svg width="24" height="24" viewBox="0 0 24 24" fill="currentColor" aria-hidden="true" focusable="false" xmlns="http://www.w3.org/2000/svg" fill-rule="evenodd" clip-rule="evenodd">
                                            <path d="M5 22h4v-3h-9v-18h24v18h-10v3h4v1h-13v-1zm5-3v3h3v-3h-3zm13-17h-22v16h22v-16z"/>
                                        </svg>
                                    </div>
                                    <h3 class="services-title">Web Applications</h3>
                                    <div class="services-descr">
                                        I mainly use Django, Django Rest Framework or Django-Ninja (backend)
                                        and Bootstrap, Vue.js (frontend) depending on project needs.
                                    </div>
                                </div>
                            </div>
                            <!-- End Services Item -->

                            <!-- Services Item -->
                            <div class="col-sm-6 col-md-4 col-lg-4">
                                <div class="services-item text-center wow fadeIn" data-wow-delay=".2s" data-wow-duration="1.5s">
                                    <div class="services-icon">
                                        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="currentColor" aria-hidden="true" focusable="false">
                                            <path d="M12.015 7c4.751 0 8.063 3.012 9.504 4.636-1.401 1.837-4.713 5.364-9.504 5.364-4.42 0-7.93-3.536-9.478-5.407 1.493-1.647 4.817-4.593 9.478-4.593zm0-2c-7.569 0-12.015 6.551-12.015 6.551s4.835 7.449 12.015 7.449c7.733 0 11.985-7.449 11.985-7.449s-4.291-6.551-11.985-6.551zm-.015 3c-2.21 0-4 1.791-4 4s1.79 4 4 4c2.209 0 4-1.791 4-4s-1.791-4-4-4zm-.004 3.999c-.564.564-1.479.564-2.044 0s-.565-1.48 0-2.044c.564-.564 1.479-.564 2.044 0s.565 1.479 0 2.044z"/>
                                        </svg>
                                    </div>
                                    <h3 class="services-title">Computer Vision</h3>
                                    <div class="services-descr">
                                        I almost always use OpenCV in image processing projects.
                                        Sometimes Matplotlib or Pillow are good enough to fulfill project's requirements.
                                    </div>
                                </div>
                            </div>
                            <!-- End Services Item -->

                            <!-- Services Item -->
                            <div class="col-sm-6 col-md-4 col-lg-4">
                                <div class="services-item text-center wow fadeIn" data-wow-delay=".0s" data-wow-duration="1.5s">
                                    <div class="services-icon">
                                        <svg width="24" height="24" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor" aria-hidden="true" focusable="false">
                                            <path d="M24 21h-3l1-3h1l1 3zm-12.976-4.543l8.976-4.575v6.118c-1.007 2.041-5.607 3-8.5 3-3.175 0-7.389-.994-8.5-3v-6.614l8.024 5.071zm11.976.543h-1v-7.26l-10.923 5.568-11.077-7 12-5.308 11 6.231v7.769z"/>
                                        </svg>
                                    </div>
                                    <h3 class="services-title">Trainings</h3>
                                    <div class="services-descr">
                                        I have many years of experience in teaching computer science,
                                        both stationary and remotely, in Polish and in English.
                                        I was also the supervisor of over 60 engineering theses.
                                    </div>
                                </div>
                            </div>
                            <!-- End Services Item -->

                            <!-- Services Item -->
                            <div class="col-sm-6 col-md-4 col-lg-4">
                                <div class="services-item text-center wow fadeIn" data-wow-delay=".1s" data-wow-duration="1.5s">
                                    <div class="services-icon">
                                        <svg width="24" height="24" viewBox="0 0 24 24" fill="currentColor" aria-hidden="true" focusable="false" xmlns="http://www.w3.org/2000/svg" fill-rule="evenodd" clip-rule="evenodd">
                                            <path d="M15 7h4v5h5v6h-5v5h-19v-21h15v5zm-5 11h-9v4h9v-4zm8 0h-7v4h7v-4zm-11-5h-6v4h6v-4zm9 0h-8v4h8v-4zm7 0h-6v4h6v-4zm-12-5v4h7v-4h-7zm-1 0h-9v4h9v-4zm-3-5h-6v4h6v-4zm7 0h-6v4h6v-4z"/>
                                        </svg>
                                    </div>
                                    <h3 class="services-title">Development</h3>
                                    <div class="services-descr">
                                        I can configure web servers (Nginx) and ASGI (or WSGI) servers.
                                        I use the CI/CD pipeline and Test Driven Development during projects.
                                    </div>
                                </div>
                            </div>
                            <!-- End Services Item -->

                            <!-- Services Item -->
                            <div class="col-sm-6 col-md-4 col-lg-4">
                                <div class="services-item text-center wow fadeIn" data-wow-delay=".2s" data-wow-duration="1.5s">
                                    <div class="services-icon">
                                        <svg width="24" height="24" viewBox="0 0 24 24" fill="currentColor" aria-hidden="true" focusable="false" xmlns="http://www.w3.org/2000/svg" fill-rule="evenodd" clip-rule="evenodd">
                                            <path d="M12 2c5.514 0 10 4.486 10 10s-4.486 10-10 10-10-4.486-10-10 4.486-10 10-10zm0-2c-6.627 0-12 5.373-12 12s5.373 12 12 12 12-5.373 12-12-5.373-12-12-12zm-1.894 14.992c.485-.514 1.154-.832 1.894-.832s1.408.318 1.894.832l-1.894 2.008-1.894-2.008zm-.874-.927c.709-.751 1.688-1.215 2.768-1.215s2.059.465 2.768 1.216l1.164-1.236c-1.006-1.067-2.396-1.727-3.932-1.727s-2.926.66-3.932 1.727l1.164 1.235zm-2.038-2.163c1.23-1.304 2.929-2.11 4.806-2.11s3.576.807 4.806 2.111l1.194-1.267c-1.535-1.629-3.656-2.636-6-2.636s-4.465 1.007-6 2.636l1.194 1.266z"/>
                                        </svg>
                                    </div>
                                    <h3 class="services-title">Internet of Things</h3>
                                    <div class="services-descr">
                                        I use Raspberry Pi for video monitoring,
                                        collecting data from sensors,
                                        managing home devices and communicating with the outside world.
                                    </div>
                                </div>
                            </div>
                            <!-- End Services Item -->

                        </div>
                        <!-- End Services Grid -->

                    </div>
                </section>
                <!-- End Services Section -->


                <!-- Divider -->
                <hr class="mt-0 mb-0 white"/>
                <!-- End Divider -->


                <!-- Divider -->
                <hr class="mt-0 mb-0 white"/>
                <!-- End Divider -->

            </main>

{%  endblock content %}
